.c-home-page
  height: 100%

  .buttons
    padding-top: 100px
    
  button
    width: 600px
    height: 100px
    background: #bbb
    border: none
    display: block
    margin: 0px auto 50px auto
    color: #000
    font-size: 40px
    
  button:focus
    outline: none
      
