.c-dashboard
  background-color: #eee
  height: 100%
  width: 100%
  padding: 25px 25px
  
  // .floor-plan
  //   background: url(./floor_plan.png)
  //   background-repeat: no-repeat
  //   height: 100%
  //   width: 100%
